<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
	    <key>character</key>
		<string>a</string>
		<key>friends</key>
		<array>
		    <dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>安吉</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>安庆</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>鞍山</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>澳门</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
		</array>
	</dict>
	<dict>
	    <key>character</key>
		<string>b</string>
		<key>friends</key>
		<array>
		    <dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>保定</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>宝鸡</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>包头</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>北京</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>滨州</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
		</array>
	</dict>
	<dict>
	    <key>character</key>
		<string>c</string>
		<key>friends</key>
		<array>
		    <dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>沧州</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>长春</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>常德</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>长乐</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
			<dict>
			    <key>img</key>
				<string>head/0.png</string>
			    <key>name</key>
				<string>长沙</string>
				<key>sex</key>
				<string>男</string>
				<key>attention</key>
				<string>双向关注</string>
				<key>school</key>
				<string>人民大学附属中学</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
